{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}{% trans 'Registration done' %}{% endblock %}

{% block form %}
<h1>{% trans 'Registration done' %}</h1>
<p>{% trans "We will send you an email with an validation link which you'll need to click to verify your email." %}</p>
<p>{% trans 'Please check your email.' %}</p>
{% endblock %}