{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Confirm Registration' %}{% endblock %}

{% block form %}

{% if validlink %}

<form class="form-horizontal"  method="post">{% csrf_token %}

    <h3>{% trans 'Confirm Registration' %}</h3>
    
    <p> {% blocktrans %}If you registered a new account with the email <b>{{ email }}</b>, please confirm your registration.{% endblocktrans %}</p>
    
    {% if form.errors %}
        <div class="alert alert-danger">
        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    {% endif %}

	{% include 'include/_form_snippet.html' %}
     <div class="form-group">
         <div class="dwbn-form-control_lg">
             <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
         </div>
     </div>

</form>

{% else %}

<h1>{% trans 'Confirm Registration failed' %}</h1>

<p>{% trans "The validation link was invalid, possibly because it had expired." %}</p>

{% endif %}

{% endblock %}
