{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Registration complete' %}{% endblock %}

{% block form %}
    <h1>{% trans 'Registration complete' %}</h1>
    <div class="alert alert-warning" role="alert">
        {% trans "Your registration and email address has been validated. Please contact the user administrator at your local organisation to activate your account." %}
    </div>
{% endblock %}
