{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Registration complete' %}{% endblock %}

{% block form %}

<h1>{% trans 'Registration complete' %}</h1>

<p>{% trans "Your registration and email address has been validated. You will receive an email when your account is activated. This may take some days." %}</p>


{% endblock %}
