{% extends "base_site.html" %}
{% load i18n %}
{% block nav_home_class %}active{% endblock %}


{% block left_content %}
    {% if user.is_authenticated %}{{ block.super }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if user.is_authenticated %}
        <ol class="breadcrumb">
            <li class="active">{% trans 'Home' %}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

{% block right_content %}
    {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        {% trans 'Welcome,' %}
        <strong>{% filter force_escape %}{% firstof user.get_full_name user.username %}{% endfilter %}</strong>.
        {% if apps %}
            <h3>{% trans 'Applications' %}</h3>
            <ul>
                {% for app in user.get_apps %}
                    {% if app.url %}
                        <li><a href="{{ app.url }}">{{ app.title }}</a></li>{% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h3>{% blocktrans %}One account. All of {{ site_name }}.{% endblocktrans %}</h3>
        <p>
            {% blocktrans %}<a href="{{ login_url }}">Sign in with your {{ brand }} Account</a> and use all {{ site_name }} services.{% endblocktrans %}
        </p>

        {% url 'registration:registration_register' as registration_register_url %}
        {% if registration_register_url and registration_open %}
        <p>        
        {% blocktrans %}New at {{ site_name }}? <a href="{{ registration_register_url }}">Register</a>{% endblocktrans %}.
        </p>
        {% endif %}
    {% endif %}

{% endblock right_content %}
