{% load i18n list %}
{% if filter.list %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle {% if filter.selected %}active{% endif %}" data-toggle="dropdown">
        {% if filter.selected %}{{ filter.selected }}{% else %}{{ filter.select_text }}{% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% if filter.selected %}<li><a tabindex="-1" href="{% query_string cl filter.param_name '' filter.all_remove %}">{{ filter.select_all_text }}</a></li>{% endif %}
        {% for item in filter.list %}
            <li><a tabindex="-1" href="{% query_string cl filter.param_name item.pk filter.remove %}">{{ item }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
