{% load thumbnail %}
<div class="form-group  {% if field.errors %}has-error{% endif %}">
  <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
  <div class="dwbn-form-control">
      {{ field }}{% if field.help_text or field.errors %}<span class="help-block">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
  </div>
</div>
