{% load i18n %}
<form class="" method="get">
    {% for key, value in cl.params.items %}
        {% if key != search_var and key != page_var %}
           <input type="hidden" name="{{ key }}" value="{{ value }}">          
        {% endif %}
    {% endfor %}
    <div class="input-group">
        <input type="text" class="form-control" name="{{ search_var }}" value="{{ query }}" placeholder="{% trans 'search text' %}">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>
    