<div class="form-group">
  <label class="control-label">{{ label }}</label> 
  <div class="dwbn-form-control">
       <p class="form-control-static">{{ valued|default_if_none:"" }}</p>
  </div>
</div>
