{% load i18n %}

<thead>
<tr>
{% for header in result_headers %}
<th scope="col" {{ header.class_attrib }}>
   {% if header.sortable %}
     {% if header.sort_priority > 0 %}
       <div class="sortoptions pull-right">
         <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"><i class="glyphicon glyphicon-remove"></i></a>
         {% if num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}
         <a href="{{ header.url_toggle }}" class="toggle" title="{% trans "Toggle sorting" %}">
            <i class="glyphicon {% if header.ascending %}glyphicon-arrow-up{% else %}glyphicon-arrow-down{% endif %}"></i>
         </a>
       </div>
     {% endif %}
   {% endif %}
   <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
   <div class="clear"></div>
</th>{% endfor %}
</tr>
</thead>
