{% extends "base_form.html" %}
{% load i18n admin_static %}
{% load thumbnail %}

{% block title %}{% trans 'Add email forwarding' %}{% endblock %}

{% block extrascript %}{{ media }}{% endblock extrascript %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'emails:groupemail_list' %}">{% trans 'Emails' %}</a></li>
    <li><a href="{% url 'emails:groupemail_detail' uuid %}">{{ form.initial.email.groupemail.name }}</a></li>
    <li class="active">{% trans 'Add email forwarding' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post" data-active="{{ active }}">{% csrf_token %} 
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}    
    
    <div class="">
        <h3>{% trans 'email forwarding' %}</h3>

        {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
        {% endif %}
        
    {% if form.errors and not form.non_field_errors %}
        <div class="alert alert-danger">
        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    {% endif %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
        
    </div>

    {% include 'include/_field.html' with field=form.forward %}

    <div class="form-group">
        <div class="dwbn-form-submit">
            {% block submit_group %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            {% endblock submit_group %}
        </div>
    </div>
</form>
{% endblock %}