{% extends "base_form.html" %}
{% load i18n admin_static %}
{% load thumbnail %}

{% block title %}{% trans 'Email Update' %}{% endblock %}

{% block extrascript %}{{ media }}{% endblock extrascript %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'emails:groupemail_list' %}">{% trans 'Emails' %}</a></li>
    <li><a href="{% url 'emails:groupemail_detail' object.uuid.hex %}">{{ object.name }}</a></li>
    <li class="active">{% trans 'Update Email' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post" data-active="{{ active }}">{% csrf_token %} 
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}    
    
    <div class="">
        <h3>{{ object.name }} {% trans 'Email' %}</h3>

        {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
        {% endif %}
        
        {% if errors %}
        <div class="alert alert-danger">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
        {% endif %}
        
    </div>

     <ul class="nav nav-tabs dwbn-nav-tabs" id="myTab">
       <li class="{% if not active or active == "object" %}active{% endif %}" ><a data-toggle="tab" href="#object">{% trans 'Email Data' %}</a></li>
       {% for formset in formsets %}
       <li class="{% if active == formset.prefix %}active{% endif %}"><a data-toggle="tab" href="#{{ formset.prefix }}">{{ formset.form.opts.verbose_name_plural|title }}</a></li>
       {% endfor %}
     </ul> 
    
     <div class="tab-content">
        <div class="tab-pane {% if not active or active == "object" %}active{% endif %}" id="object">         
           {% include 'include/_field.html' with field=form.name %}
           {% include 'include/_field.html' with field=form.email_value %}
           {% include 'include/_field.html' with field=form.permission %}
           {% include 'include/_field.html' with field=form.homepage %}
           {% include 'include/_field.html' with field=form.is_active %}
        </div>
        
        {% for formset in formsets %}
        <div class="tab-pane {% if active == formset.prefix %}active{% endif %}" id="{{ formset.prefix }}"> 
            {% include formset.form.template %}
        </div>
        {% endfor %}
 
    </div><!-- /.tab-content -->

    <div class="form-group">
        <div class="dwbn-form-submit">
            {% block submit_group %}
			<button type="submit" class="btn btn-default" name="_continue" >{% trans 'Save and continue editing' %}</button>
			<button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
			{% endblock submit_group %}
		</div>
	</div>
</form>
{% endblock %}