{% extends "base_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans 'Add User' %}{% endblock %}

{% block left_content %}{% include 'include/_navigation.html' with active_navigation="add_user" %}{% endblock left_content %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
    <li class="active">{% trans 'Add User' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post">{% csrf_token %} 
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}    
    <div class="">
	    <h3>{% trans 'Add User' %}</h3>
	    <p>
	    {% trans "Please enter the user data for the new account." %}<br>
	    {% trans "After the account was created, the new user will receive an email with instructions for setting a password." %}
	    </p>
	    
	    {% if messages %}{% for message in messages %}
	       <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
	    {% endif %}
	
	    {% if form.errors %}
	        <div class="alert alert-danger">
	        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
	        </div>
	    {% endif %}
    </div>    

	<ul class="nav nav-tabs dwbn-nav-tabs">
	   <li class="active"><a href="#user" data-toggle="tab">{% trans 'User data' %}</a></li>
	   <li><a href="#app_roles" data-toggle="tab">{{ form.application_roles.label }}</a></li>
       <li><a href="#notes" data-toggle="tab">{{ form.notes.label }}</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
	   <div class="tab-pane active" id="user">
	       <div>
             {% include 'include/_field.html' with field=form.first_name %}
             {% include 'include/_field.html' with field=form.last_name %}
             {% include 'include/_field.html' with field=form.gender %}
             {% include 'include/_field.html' with field=form.dob %}
             {% include 'include/_field.html' with field=form.organisation %}
             {% include 'include/_email_field.html' with field=form.email %}
             {% include 'accounts/includes/_profiles_field.html' with field=form.role_profiles %}
          </div>
       </div>
	   <div class="tab-pane" id="app_roles">
	       <div>
             {% with field=form.application_roles %}
             <div class="form-group {% if field.errors %}has-error{% endif %}">
                <div class="dwbn-form-control_lg">
                 {{ field }}{% if field.help_text or field.errors %}<span class="help-block">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
                </div>
             </div>
             {% endwith %}
          </div>
	   </div>
       <div class="tab-pane" id="notes">
            <div>
                {% with field=form.notes %}
                  <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="dwbn-form-control_lg">
                       {{ field }}{% if field.help_text or field.errors %}<span class="help-inline">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
                     </div>
                  </div>
                {% endwith %}
            </div>
       </div>
   </div>
    
    <div class="form-group">
      <div class="dwbn-form-submit">
          {% if redirect_uri %}<a class="btn btn-default" href="{{ redirect_uri }}">{% trans 'Back' %}</a>{% endif %}
          <button type="submit" class="btn btn-primary">{% trans 'Add User and Send Invitation Mail' %}</button>
      </div>
    </div>

</form>
{% endblock %}


