{% extends "base_form.html" %}
{% load i18n admin_static %}
{% load thumbnail %}

{% block title %}{% trans 'Change User' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'accounts:user_list' %}">{% trans 'User List' %}</a></li>
        <li class="active">{% trans 'Change User' %}</li>
    </ol>
{% endblock breadcrumb %}

{% block form %}
    <form class="form-horizontal" method="post" data-active="{{ active }}">{% csrf_token %}
        {# Include the hidden fields in the form #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="">
            <h3>{{ title }} - {{ form.user.first_name }} {{ form.user.last_name }}</h3>

            {% if messages %}{% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
            {% endif %}

            {% if errors %}
                <div class="alert alert-danger">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </div>
            {% endif %}
        </div>

        <ul class="nav nav-tabs dwbn-nav-tabs" id="myTab">
            <li class="{% if not active or active == "object" %}active{% endif %}">
                <a data-toggle="tab"
                   href="#object">{% trans 'User data' %}</a>
            </li>
            <li><a data-toggle="tab" href="#app_roles">{{ form.application_roles.label }}</a></li>
            <li><a data-toggle="tab" href="#notes">{{ form.notes.label }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% if not active or active == "object" %}active{% endif %}" id="object">
                {% if not form.user.is_active %}
                    {% include 'include/_static_field.html' with field=form.status extra_class="bg-danger" %}
                {% endif %}
                {% include 'include/_field.html' with field=form.account_type %}
                {% include 'include/_field.html' with field=form.username %}
                {% include 'include/_field.html' with field=form.organisation %}
                {% include 'include/_field.html' with field=form.email %}
                {% include 'accounts/includes/_profiles_field.html' with field=form.role_profiles %}
            </div>
            <div class="tab-pane" id="app_roles">
                {% with field=form.application_roles %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="dwbn-form-control_lg">
                            {{ field }}{% if field.help_text or field.errors %}
                                <span class="help-inline">{{ field.help_text }} {% for error in field.errors %}
                                    {{ error }} {% endfor %}</span>{% endif %}
                        </div>
                    </div>
                {% endwith %}
            </div>
            <div class="tab-pane" id="notes">
                {% with field=form.notes %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="dwbn-form-control_lg">
                            {{ field }}{% if field.help_text or field.errors %}
                                <span class="help-inline">{{ field.help_text }} {% for error in field.errors %}
                                    {{ error }} {% endfor %}</span>{% endif %}
                        </div>
                    </div>
                {% endwith %}
            </div>

        </div>
        <!-- /.tab-content -->

        <div class="form-group">
            <div class="dwbn-form-control_lg">
                {% if form.user.is_active %}
                    <button type="submit" class="btn btn-danger" name="_deactivate">{% trans 'Block User' %}</button>
                {% else %}
                    <button type="submit" class="btn btn-success" name="_activate">{% trans 'Activate User' %}</button>
                {% endif %}
                {% if perms.accounts.delete_user and not form.user.is_active %}
                    <a class="btn btn-default" href="{% url 'accounts:delete_user' form.user.uuid.hex %}">{% trans 'Delete User' %}</a>
                {% endif %}
                {% if perms.accounts.add_user %}
                    <button type="submit" class="btn btn-default" name="_addanother">{% trans 'Save and add another' %}</button>
                {% endif %}
                {% if not logged_in %}
                    <button type="submit" class="btn btn-default" name="_resend_invitation">{% trans 'Save and resend Invitation Mail' %}</button>
                {% endif %}
                <button type="submit" class="btn btn-default" name="_continue">{% trans 'Save and continue editing' %}</button>
                {% if is_validation_period_active %}
                    <button type="submit" class="btn btn-default" name="_extend_validity">{% trans 'Save and extend validity' %}</button>
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </div>

    </form>
{% endblock %}