{% extends "base_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans 'Organisation Pictures' %}{% endblock %}

{% block extrascript %}{{ media }}
<script src="{% url 'jsi18n' %}"></script>
{% endblock extrascript %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'organisations:organisation_list' %}">{% trans 'Organisations' %}</a></li>
    <li><a href="{% url 'organisations:organisation_detail' object.uuid.hex %}">{{ object.name }}</a></li>
    <li class="active">{% trans 'Update Picture' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" enctype="multipart/form-data" method="post" >{% csrf_token %}
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}    
    
    <div class="">
        <h3>{{ object.get_center_type_display }} {{ object.name }}</h3>

        {% if messages %}{% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
        {% endif %}
        
        {% if errors %}
        <div class="alert alert-danger">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
        {% endif %}
        
    </div>

    {% for formset in formsets %}
        {% include formset.form.template %}
    {% endfor %}

    <div class="form-group">
        <div class="dwbn-form-submit">
            {% block submit_group %}
			<button type="submit" class="btn btn-default" name="_continue" >{% trans 'Save and continue editing' %}</button>
			<button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
			{% endblock submit_group %}
		</div>
	</div>
</form>
{% endblock %}