{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{% block extrahead %}<link rel="shortcut icon" href="{% static favicon %}" type="image/ico"/>{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'accounts:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}{% endblock %}
