{% extends "base.html" %}
{% load i18n static %}


<h1>{% block title %}{% trans "Enter U2F Device" %}{% endblock %}</h1>

{% block bodyclass %}dwbn-{{ display }}{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block extrascript %}
    {% include 'auth/include/u2f_jscript.html' %}
{% endblock extrascript %}


{% block content %}

    <form class="dwbn-form-signin" method="post" id="u2f-form">{% csrf_token %}
        <h3 class="dwbn-form-signin-heading">{% trans 'Connect your U2F device' %}</h3>

        {% if messages %}{% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
        {% endif %}

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="{% static device.image %}" alt="{{ device }}">
            </div>
            <div class="media-body alert alert-info">{{ device.login_text }}</div>
        </div>
        <br>

        <div class="alert alert-danger browser-not-supported">
            {% trans 'This Login method requires Chrome 41 or later! Your current browser is not yet supported.' %}
        </div>

        <div class="" id="u2f-status"></div>

        {% if form.errors %}
            <div class="alert alert-danger">
                {% for key, errors in form.errors.items %}
                    {% for error in errors %}{{ error }}<br>{% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}dwbn-ab{% endif %}">
                <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>

                <div class="dwbn-form-control">
                    {{ field }}{% if field.help_text or field.errors %}<span class="help-block">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</span>{% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group hidden">
            <div class="dwbn-form-submit">
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>
    <div class="dwbn-form-signin">
        {% if other_devices %}
            {% trans "Alternatively, use one of your backup devices:" %}
            {% for other in other_devices %}
                <form class="" action="{{ other.url }}" method="post">{% csrf_token %}
                    <button class="btn-link" type="submit" name="resend_token" value=1">{{ other.device.default_name }}</button>
                </form>
            {% endfor %}
        {% endif %}

        {% if backup_tokens %}
            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
            <p>
                <button name="wizard_goto_step" type="submit" value="backup" class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
            </p>
        {% endif %}

        {% if cancel_url %}
            <div class="cancel">
                <a class="" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>
            </div>
        {% endif %}

    </div>

    <script>
        var challenges = {{ form.initial.challenges|safe }};
        u2f.sign(challenges, function (resp) {
            var form = document.getElementById('u2f-form');
            form.response.value = JSON.stringify(resp);
            if (!handleU2FError(resp)) {
                form.submit();
            }
        })
    </script>

{% endblock content %}


