{% extends "base_site.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<div class="alert alert-danger">
{% blocktrans %}To protect your privacy:<br>If you are using a shared/public computer, please close all open browser windows and start a new session by opening a new browser window.{% endblocktrans  %}
</div>

<p><a href="{% url 'auth:login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
