{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a> &rsaquo; {% trans "OAuth2 error" %}</div>{% endblock %}

{% block title %}{% trans 'OAuth2 error' %}{% endblock %}

{% block content %}
<h1>{% trans 'OAuth2 Error' %}</h1>
<p>{% blocktrans %}There's been an OAuth 2 error: {{ error }}{% endblocktrans %}</p> 
{% endblock %}

