{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}


{% block submit_buttons_bottom %}
<div class="submit-row">
<button type="submit" name="_save" >{% trans 'Save' %}</button>
<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>
{% if not original.user.is_active %}<button type="submit" class="default"  name="_activate" >{% trans 'Save and activate account' %}</button>{% endif %}
<button type="submit" name="_continue" >{% trans 'Save and continue editing' %}</button>
</div>
{% endblock %}

