{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{{ brand }} | {% trans 'Contact Information' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Feedback' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form role="form" class="form-horizontal" method="post">{% csrf_token %} 
    <h3>{% trans 'Feedback' %}</h3>
    
    {% block messages %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    {% endblock messages %}
    
    {% if form.errors %}
        <div class="alert alert-danger">
        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    {% endif %}

    {% include 'include/_form_snippet.html' %}
     <div class="form-group">
         <div class="dwbn-form-submit">
             <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
         </div>
     </div>
</form>
{% endblock %}
