{% extends "base_site.html" %}
{% load i18n %}


{% block title %}{{ brand }} | {% trans 'One Time Message' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="active">{% trans 'One Time Message' %}</li>
    </ol>
{% endblock breadcrumb %}


{% block right_content %}
    <h1>{% trans 'One Time Message' %}</h1>
    <div class="alert alert-danger" role="alert">
        {% blocktrans %}Please note, that the following personal message is displayed only once.{% endblocktrans %}
    </div>

    <h2>{{ object.title }}</h2>
    {{ object.message|safe }}

{% endblock right_content %}