{% extends "base_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans 'Organisation Change Details' %}{% endblock %}

{% block extrascript %}{{ media }}{% endblock extrascript %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'accounts:profile' %}">{% trans 'My Account' %}</a></li>
        <li class="active">{% trans 'Update My Organisation' %}</li>
    </ol>
{% endblock breadcrumb %}

{% block form %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        {# Include the hidden fields in the form #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <h3>{% trans 'Update My Organisation' %}</h3>

        <p>{% trans "Please select the organisation you moved to and insert a reason text." %}</p>

        {% if messages %}{% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>{% endfor %}
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-danger">
                {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </div>
        {% endif %}


        {% include 'include/_field.html' with field=form.organisation %}
        {% include 'include/_field.html' with field=form.reason %}

        <div class="form-group">
            <div class="dwbn-form-submit">
                {% block submit_group %}
                    {% if redirect_uri %}<a class="btn btn-default" href="{{ redirect_uri }}">{% trans 'Back' %}</a>{% endif %}
                    {% if form.instance.pk %}<button type="submit" class="btn btn-danger" name="_delete">{% trans 'Cancel change of organisation' %}</button>{% endif %}
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    <button type="submit" class="btn btn-default" name="_continue">{% trans 'Save and continue editing' %}</button>
                {% endblock submit_group %}
            </div>
        </div>
    </form>
{% endblock %}