{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block left_content %}
    {% include 'include/_navigation.html' with active_navigation="password_change" %}{% endblock left_content %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'accounts:password_change' %}">{% trans 'Password change' %}</a></li>
        <li class="active">{% trans 'Password change successful' %}</li>
    </ol>
{% endblock breadcrumb %}


{% block form %}
    <h1>{% trans 'Password change successful' %}</h1>
    <p>{% trans 'Your password was changed.' %}</p>

    {% if redirect_uri %}
        <a class="btn btn-default" href="{{ redirect_uri }}">{% trans 'Continue' %}</a>
    {% endif %}

{% endblock %}
