{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Create password complete' %}{% endblock %}

{% block form %}

<h1>{% trans 'Create password complete' %}</h1>

<p>{% trans "Your password has been created.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
