{% extends "centered_form.html" %}
{% load i18n admin_static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block form %}
<form class="form-horizontal" role="form" method="post">{% csrf_token %}
    <h3>{% trans "Password reset" %}</h3>
	<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    
    {% include 'include/_form_snippet.html' %}
    		
     <div class="form-group">
         <div class="dwbn-form-submit">
             <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
         </div>
     </div>
</form>
{% endblock %}
