{% extends "centered_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Create Password' %}{% endblock %}

{% block form %}

{% if validlink %}
	<form enctype="multipart/form-data" class="form-horizontal"  method="post">{% csrf_token %}
        {% if form.user.picture %}
	        <h3>{% trans 'Create Password' %}</h3>
    	    <p>{% trans "Please choose a password and enter your password twice so we can verify you typed it in correctly." %}</p>
        {% else %}
            <h3>{% trans 'Create password and profile picture' %}</h3>
	        <p>{% trans "Please select a profile picture, choose a password and enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% endif %}
	    {% include "accounts/includes/password_requirements.html" %}
	    
	    {% if form.errors %}
	        <div class="alert alert-danger">
	        {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
	        </div>
	    {% endif %}
	
        {% if not form.user.picture %}
            {% include 'include/_picture_field.html' with field=form.picture %}
        {% endif %}
        {% include 'include/_field.html' with field=form.new_password1 %}
        {% include 'include/_field.html' with field=form.new_password2 %}

	     <div class="form-group">
	         <div class="dwbn-form-submit">
	             <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
	         </div>
	     </div>
	</form>	
{% else %}
	<h1>{% trans 'Create Password unsuccessful' %}</h1>
	<p>{% trans "The create password link was invalid, possibly because it has already been used." %}</p>
	{% url 'accounts:password_reset' as password_reset_url %}
	{% if password_reset_url %}
		<div class="password-reset-link">
		  <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
		</div>
	{% endif %}
{% endif %}

{% endblock %}
