{% extends "base_form.html" %}
{% load i18n %}

{% block title %}{% trans 'Delete User' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Delete User' %}</li>
</ol> 
{% endblock breadcrumb %}

{% block form %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <h3>{% trans 'Delete user' %}</h3>
    
	<div class="form-group">
	  <label class="control-label">{% trans 'First name' %}</label> 
	  <div class="dwbn-form-control"><p class="form-control-static">{{ object.first_name }}</p></div>
	</div>

    <div class="form-group">
      <label class="control-label">{% trans 'Last name' %}</label> 
      <div class="dwbn-form-control"><p class="form-control-static">{{ object.last_name }}</p></div>
    </div>

    <div class="form-group">
      <label class="control-label">{% trans 'Email address' %}</label> 
      <div class="dwbn-form-control"><p class="form-control-static">{{ object.primary_email }}</p></div>
    </div>
    
    <div class="form-group">
      <label class="control-label">{% trans 'Notes' %}</label> 
      <div class="dwbn-form-control"><p class="form-control-static">{{ object.notes }}</p></div>
    </div>

    {% for organisation in object.organisations.all %}
    <div class="form-group">
      <label class="control-label">{% trans 'Organisation' %}</label>
      <div class="dwbn-form-control"><p class="form-control-static">{{ organisation }}</p></div>
    </div>
    {% endfor %}
    
    {% if object.registrationprofile %}
    {% with registrationprofile=object.registrationprofile %}
    <div class="form-group">
      <label class="control-label">{% trans 'Country' %}</label> 
      <div class="dwbn-form-control"><p class="form-control-static">{{ registrationprofile.country }}</p></div>
    </div>

    <div class="form-group">
      <label class="control-label">{% trans 'City' %}</label> 
      <div class="dwbn-form-control"><p class="form-control-static">{{ registrationprofile.city }}</p></div>
    </div>
    {% endwith %}
    {% endif %}
    
    <div class="form-group">
        <div class="dwbn-form-control_lg">
            <button type="submit" class="btn btn-danger">{% trans 'Confirm Delete' %}</button>
            {% if cancel_url %}&nbsp;{% trans 'or' %}&nbsp; <a class="btn btn-default" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>{% endif %}            
        </div>
   </div>
</form>
{% endblock %}
